@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Karla&family=Playfair+Display&display=swap');

/* greens in logo, darkest to lightest: 455111, 3E5110, 536604, 506218, 476005, 516B00, 748220, 617704, 748708, 7F8710, 72840B, 8C9914 */

* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    /* background: linear-gradient(to bottom right, #fff, #fcf7eb, #fbf7f2, #f1eaea); */
    font-family: 'Karla', 'Helvetica', sans-serif;
    font-size: 100%;
    color: #444444;
}

body a {
    text-decoration: none;
    background: -webkit-linear-gradient(rgb(255, 255, 255, 0) 80%, rgb(179, 219, 242) 20%);
    border-radius: 2px;
}
body a:link {color: #444444;}
body a:visited {
    color: #444444;
    background: -webkit-linear-gradient(rgb(255, 255, 255, 0) 80%, rgb(179, 219, 242) 20%);
}
body a:hover {background-color: #b3dbf2;}
body a:active {background-color: #b3dbf2;}

#wrapper {
    /* background-color: rgb(235, 173, 173); */
    padding: 0;
}

header {
    padding-bottom: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header a {
    text-decoration: none;
    background: none;
}
header a:link {color: #536604;}
header a:visited {color: #536604;}
header a:hover {
    
    text-decoration: none;    
}

#logo {
    padding-right: 0;
    padding-top: 0;
    width: 80px;
}

#identity {
    padding: 0 10px;
    width: 250px;
    text-align: center;
}

#navicon {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 3em;
}

h1 {
    font-family: 'Playfair Display', 'Georgia', 'serif';
    font-size: 1.5em;
    margin: 0;
    font-weight: lighter;
    /* background-color: rgb(153, 167, 212); */
}

#tagline {
    /* background-color: rgb(153, 167, 212); */
    font-size: 0.8em;
/*     padding-left: 60px;
    padding-right: 10px; */
}

#utilities {
    display: none;
}

nav {
    border-top: 1px solid #bcbcbc;
    background-color: rgba(255, 255, 255, 0.9);
    /* background-color: rgb(255, 255, 255, 0.9); */
    /* background: linear-gradient(rgb(255, 255, 255, 0.9), rgba(226, 230, 201, 0.9), rgb(255, 255, 255, 0.9)); */
    /* background: linear-gradient(rgb(255, 255, 255, 0.9), #fbfbfb, rgb(255, 255, 255, 0.9)); */
}

nav a {
    font-weight: 100;
    display: block;
    color: #536604;
    text-decoration: none;
    background: none;
}
nav a:link {
    color: #444444;
    text-decoration: none;
}
nav a:visited {color: #444444;}
nav a:hover {
    color: #536604;
    text-decoration: none;
    background: none;
}
nav a:active {
    color: #536604;
    background: none;
}

#menu {
    /* background-color: white; */
    position: relative;
    display: none;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.25em;
    text-transform: uppercase;
    /* font-family: 'Playfair Display', 'Georgia', 'serif' */
}

#menu li {
    list-style-type: none;
    padding: 1em;
    text-align: center;
    margin: auto;
    /* width: 90%; */
    border-bottom: 1px solid #bcbcbc;

}

#searchicon {
    cursor: pointer;
}

#search {
    display: none;
    position: relative;
    width: 100%;
    height: fit-content;
}

main {
    padding: 1em;
}

#welcome {
    padding: 0 1em 1em;
    border: 1px solid #bcbcbc;
    border-left: 7px solid #536604;
    border-right: 7px solid #536604;
    text-align: justify;
    /* background-color: #fff; */
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    /* box-shadow: -3px 3px 0px 0px rgba(68, 68, 68, .2); */
}

.button {
    padding: 0.5em;
    margin: 5px;
    background: #536604;
    border-radius: 3px;
}
#welcome a {
    color: #ffffff; 
}
.button:hover {
    background-color: #617704;
}

#welcome img {
    width: 60%;
}

#welcome h2 {
    font-family: 'Lobster Two'; 
}

#sidebar {
    display: none;
    /* background-color: #b3dbf2; */
}

form {
    display: flex;
    flex-direction: column;
    width: auto;
}

fieldset {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 0.5em;
}

form label, fieldset label {
    margin-top: 0.5em;
}

form input, form textarea, fieldset input, fieldset textarea {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

footer {
    clear: left;
    padding: 1em;
    background-color: aqua;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    display: inline;
    padding-right: 1em;
}

.mobile {display: inline;}
.desktop {display: none;}


/* Medium Screen Size */
@media screen and (min-width: 600px) {
    .mobile {display: none;}
    .desktop {display: inline;}

    #wrapper {
        width: 95%;
        margin-right: auto;
        margin-left: auto;
    }
    
    header {
        padding-bottom: 0.5em;
        display: block;
    }
    
    #logo {
        padding-right: 10px;
        margin: 0;
        /* If you want the overlap: */
        /* width: 175px; */
        /* If you don't want the overlap: */
        width: 130px;
        float: left;
    }
    
    #identity {
        margin: 30px 0 10px;
        width: 90%;
        height: 90px;
        text-align: left;
    }
    
    #navicon {
        display: none;
    }
    
    h1 {
        font-size: 2.5em;
        font-weight: lighter;
        /* background-color: rgb(153, 167, 212); */
    }
    
    #tagline {
        /* background-color: rgb(153, 167, 212); */
        font-size: 1em;
    }
    
    /* #utilities {
        display: none;
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 0.8em;
    }
    
    #utilities ul {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: stretch;
    }
    
    #utilities ul li {
        list-style-type: none;
        padding: 0.5em;
        margin: 5px;
        background-color: #536604;
        border-radius: 3px;
    }

    #utilities ul li:hover {
        background-color: #617704;
    }
    
    #utilities a {text-decoration-line: none;}
    #utilities a:link {color: #fff;}
    #utilities a:visited {color: #fff;}
    #utilities a:hover {color: #fff;} */
    
    nav {
        /* background-color: rgb(134, 93, 172); */
        border-bottom: 1px solid #bcbcbc;
        position: sticky;
        top: 0;
    }
    
    #menu {
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
        /* align-items: stretch;
        width: 80%; */
        margin-right: auto;
        margin-left: auto;
        /* padding: 0; */

        /* font-size: 1.25em;
        text-transform: uppercase; */
        /* background-color: pink; */
    }
    
    #menu li {
        padding: 0.5em;
        border: none;
    }
    
    #search {
        position: absolute;
        width: 100%;
    }
    
    /* #menu li {
        padding: 0.5em;
        text-align: left;
        border-bottom: none;
    } */


    #welcome {
        padding: 0 1em 1em;
        border: 1px solid #bcbcbc;
        border-left: 7px solid #536604;
        border-right: 7px solid #536604;
        text-align: justify;
        /* offset-x | offset-y | blur-radius | spread-radius | color */
        /* box-shadow: -3px 3px 0px 0px rgba(68, 68, 68, .2); */
    }
    
    form {
        display: flex;
        flex-direction: column;
        width: auto;
    }
    
    fieldset {
        display: flex;
        flex-direction: column;
        width: auto;
        padding: 0.5em;
    }
    
    form label, fieldset label {
        margin-top: 0.5em;
    }
    
    form input, form textarea, fieldset input, fieldset textarea {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    
    footer {
        clear: left;
        padding: 1em;
        background-color: aqua;
    }
    
    footer ul {
        list-style-type: none;
    }
    
    footer ul li {
        display: inline;
        padding-right: 1em;
    }
    
}

/* Large Screen Size */
@media screen and (min-width: 1024px) {
    h1 {
        font-size: 3em;
    }

    #wrapper {
        display: grid;
        grid-template:
            "utilities utilities"
            "header header"
            "sidebar nav"
            "sidebar main"
            "footer footer"
            / 200px 1fr; 
        width: 75%;
        margin-right: auto;
        margin-left: auto; 
    }

    #utilities {
        grid-area: utilities;
    }

    header {
        grid-area: header;
        /* padding-bottom: 0.5em;
        display: block; */
    }

    nav {
        grid-area: nav;
    }

    #sidebar {
        grid-area: sidebar;
        /* display: grid; */
        display: block;
        padding: 1em;
        /* background-color: #acb46d; */
        border-right: solid 1px #bcbcbc;
        border-top: solid 1px #bcbcbc;
    }

    main {
        grid-area: main;
    }

    footer {
        grid-area: footer;
    }

    
    
    header {
        
    }
    
    #logo {
        padding-right: 10px;
        margin-top: 10px;
        /* If you want the overlap: */
        /* width: 175px; */
        /* If you don't want the overlap: */
        width: 175px;
        float: left;
    }
    
    #identity {
        margin: 30px 0 10px;
        width: 90%;
        height: 90px;
        text-align: left;
    }
    
    #navicon {
        display: none;
    }
    
    h1 {
        font-size: 2.5em;
        font-weight: lighter;
        /* background-color: rgb(153, 167, 212); */
    }
    
    #tagline {
        /* background-color: rgb(153, 167, 212); */
        font-size: 1em;
    }
    
    #utilities {
        display: none;
    }
    
    #utilities ul {
        /* background-color: rgb(80, 92, 147); */
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: stretch;
    }
    
    #utilities ul li {
        list-style-type: none;
        padding: 0.5em;
        margin: auto;
        background-color: rgb(80, 92, 147);
    }
    
    #utilities a {text-decoration-line: none;}
    #utilities a:link {color: #fff;}
    #utilities a:visited {color: #fff;}
    #utilities a:hover {color: #9A3046;}
    
    nav {
        /* background-color: rgb(134, 93, 172); */
        /* border-top: 1px solid #bcbcbc;
        border-bottom: 1px solid #bcbcbc; */
    }
    
    #menu {
        /* margin-left: 200px;
        width: 70% */
        /* display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        width: 90%;
        margin-right: auto;
        margin-left: auto;
        padding: 0;

        font-size: 1.25em;
        text-transform: uppercase; */
    }
    
    #menu li {
        /* padding: 0.5em;
        border: none; */
    
    }
    
    
    
    
    main {
        /* padding: 0 0 2em; */
    }
    
    #welcome {
        /* margin: 1em auto;
        padding: 0 1em 1em;
        border: 1px solid #bcbcbc;
        border-left: 7px solid #536604;
        border-right: 7px solid #536604;
        text-align: justify; */
        /* offset-x | offset-y | blur-radius | spread-radius | color */
        /* box-shadow: -3px 3px 0px 0px rgba(68, 68, 68, .2); */
    }
    
    form {
        /* display: flex;
        flex-direction: column;
        width: auto; */
    }
    
    fieldset {
        /* display: flex;
        flex-direction: column;
        width: auto;
        padding: 0.5em; */
    }
    
    form label, fieldset label {
        /* margin-top: 0.5em; */
    }
    
    form input, form textarea, fieldset input, fieldset textarea {
        /* margin-top: 0.5em;
        margin-bottom: 0.5em; */
    }
    
    footer {
        /* clear: left;
        padding: 1em;
        background-color: aqua; */
    }
    
    footer ul {
        /* list-style-type: none; */
    }
    
    footer ul li {
        /* display: inline;
        padding-right: 1em; */
    }
}

/* 
    * {
        box-sizing: border-box;
    }
    
    body {
        background-color: rgb(216, 192, 135);
        font-family: 'Karla', 'Helvetica', sans-serif;
        font-size: 100%;
    }
    
    #wrapper {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        background-color: pink;
        padding: 0;
    }
    
    header {
        background-color: aqua;
    }
    
    #utilities {
        
    }
    
    #utilities ul {
        float: right;
        background-color: rgb(80, 92, 147);
    }
    
    #utilities ul li {
        list-style-type: none;
        display: inline;
        padding: 1em;
    }
    
    nav {
        background-color: rgb(134, 93, 172);
    }
    
    nav ul li {
        list-style-type: none;
        display: inline;
        padding: 1em;
    }
    
    main {
    
    }
    
    #sidebar {
        float: left;
        padding: 1.5em;
        background-color: beige;
        width: 25%;
        height: 700px;
    }
    
    
    footer {
        clear: left;
        padding: 1em;
        background-color: aqua;
    }
    
    footer ul {
        list-style-type: none;
    }
    
    footer ul li {
        display: inline;
        padding-right: 1em;
    }
*/
